*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.Parent{
    background-color: rgb(213,104,104);
    width: 100%;
    height:1000px;
    
    display: flex;
    flex-wrap: wrap;/*So the flex doesnt chage the width oe height*/
    /* text-align: center; puts text in the center of div*/
   /* justify-content: center OR flex-end OR flex-start ; only works with flex*/
   justify-content: space-around;
   align-items: center;/*center of parent div (height wise)*/

}
.Child{
    
    width: 40%;
    height:80px;
    background-color: rgb(213,104,104);
    border:2px solid black;
    color:white;
    align-content: center;
    
    
   
}
ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    justify-content: space-evenly;   /* spaces them across the x axis*/

}
button{
    
    width:50px;
    height:50px;
}
.ChildSticky{
    width: 40%;
    height:80px;
    background-color: green;
    border:2px solid black;
    color:white;
    align-content: center;
    position:sticky;
    top:0px;

}
